# Outline

1. Variable
2. Operasi Aritmatika
3. Fungsi Print
4. List
5. Dictionary
6. Loop
7. Logic
8. Function

### 1. Variable

In [2]:
x = 3
y = 5

In [4]:
x

3

In [5]:
y

5

### 2. operasi aritamtika

In [6]:
x+y

8

In [7]:
x-y

-2

In [8]:
x*y

15

In [9]:
# x pangkat y
x**y

243

In [17]:
y/x

1.6666666666666667

In [15]:
y//x

1

In [16]:
y % x

2

In [19]:
# operasi pembagian disimoan dalam variabel baru
z = y/x
z

1.6666666666666667

### 3. fungsi print

In [4]:
3+4

7

In [5]:
3+5
1+2

3

In [6]:
print(3+5)
print(1+2)

8
3

In [8]:
print('operasi 3 + 5 :',3+5)
print('operasi 1 + 2 :',1+2)
print('mencetak variabel x :',x)

operasi 3 + 5 : 8
operasi 1 + 2 : 3
mencetak variabel x : 3

In [10]:
print('operasi 3 + 5 :',3+5,'\n')
print('operasi 1 + 2 :',1+2,'\n')
print('mencetak variabel x :',x,'\n')

operasi 3 + 5 : 8

operasi 1 + 2 : 3

mencetak variabel x : 3

In [21]:
print('mencetak nilai desimal dengan 2 pembulatan: {:0.2f} '.format(z))

mencetak nilai desimal dengan 2 pembulatan: 1.67

In [22]:
print('mencetak nilai desimal dengan 3 pembulatan: {:0.3f} '.format(z))

mencetak nilai desimal dengan 3 pembulatan: 1.667

### 4. List

In [5]:
objek1 = [1,3,4]

In [6]:
objek1

[1, 3, 4]

In [7]:
objek2 = [1,"namasaya","Muhyi"]

In [8]:
objek2bb

[1, 'namasaya', 'Muhyi']

In [9]:
obj = [2,3,4,5,6,7]

In [10]:
print(obj)

[2, 3, 4, 5, 6, 7]

In [12]:
obj2 = [2,3,4,5]

In [15]:
print("mencetak objek : \n",obj2)

mencetak objek :
 [2, 3, 4, 5]

In [17]:
obj1 =[2,4,5]

In [18]:
obj2

[2, 3, 4, 5]

In [19]:
obj1+obj2

[2, 4, 5, 2, 3, 4, 5]

In [20]:
[obj1,obj2]

[[2, 4, 5], [2, 3, 4, 5]]

#### akses list

In [21]:
obj = [2,3,4,5,6,7]

In [22]:
obj[0]

2

In [23]:
obj[1]

3

In [24]:
obj[1:4] # mencetak elemen ke 1 hingga 3 [1:4]

[3, 4, 5]

In [25]:
obj[1:] # mencetak elemen ke 1 dan seterusnya

[3, 4, 5, 6, 7]

In [27]:
obj

[2, 3, 4, 5, 6, 7]

In [37]:
print(obj[0])
print(obj[-1])
print(obj[-2])
print(obj[-3])
print(obj[-4])

2
7
6
5
4

### 5. Dictionary

In [28]:
obj

[2, 3, 4, 5, 6, 7]

In [34]:
obj1

[2, 4, 5]

In [31]:
obj2

[2, 3, 4, 5]

In [32]:
dictionary1 = {'list obj':obj,'list obj1':obj1,'list obj2':obj2}

In [33]:
dictionary1

{'list obj': [2, 3, 4, 5, 6, 7],
 'list obj1': [2, 4, 5],
 'list obj2': [2, 3, 4, 5]}

In [35]:
asia = ['Indonesia','Jepang','China']
eropa = ['Inggris','Italia','Prancis']
afrika = ['Ghana','Zimbawe','Mesir']

In [36]:
asia = ['Indonesia','Jepang','China']
eropa = ['Inggris','Italia','Prancis']
afrika = ['Ghana','Zimbawe','Mesir']
kamus_benua = {'benua asia':asia,'benua eropa':eropa,'benua afrika':afrika}

In [37]:
kamus_benua

{'benua afrika': ['Ghana', 'Zimbawe', 'Mesir'],
 'benua asia': ['Indonesia', 'Jepang', 'China'],
 'benua eropa': ['Inggris', 'Italia', 'Prancis']}

In [ ]:
countries = ['spain', 'france', 'germany', 'norway']
capitals = ['madrid', 'paris', 'berlin', 'oslo']

In [ ]:
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin', 'norway':'oslo'}
type(europe)

In [ ]:
print(europe)
print(europe.keys())
print(europe.values())

### 6. Loop

In [39]:
asia

['Indonesia', 'Jepang', 'China']

In [40]:
for i in asia:
    print(i)

Indonesia
Jepang
China

In [41]:
for i in asia:
    print(i)
    print('negara ',i)

Indonesia
negara  Indonesia
Jepang
negara  Jepang
China
negara  China

In [42]:
angka = [1,2,3,4,5]
angkakuadrat = [x ** 2 for x in angka]
print(angkakuadrat)

[1, 4, 9, 16, 25]

In [44]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [45]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [61]:
squares = []

for x in angka:
    squares.append(x**2)
    
print(squares)

[1, 4, 9, 16, 25]

In [65]:
for i in [1,2,3,4,5,6,7]:
    print("i :",i)

i : 1
i : 2
i : 3
i : 4
i : 5
i : 6
i : 7

In [66]:
j=0
for i in [1,2,3,4,5,6,7]:
    print("j :",j)
    j = j+1

j : 0
j : 1
j : 2
j : 3
j : 4
j : 5
j : 6

In [74]:
for i in [1,2,3]:
    for j in [1,2,3]:
        print(i,j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

In [ ]:
print("First  Example")
for item in [1,2,3,4,5]:
    print('item',item)

In [ ]:
print("Second Example")
letters = ['A','B','C']
for letter in letters:
    print('first loop leter',letter)

In [ ]:
print("Third Example")
for index in range(len(letters)):
    print('first loop leter',letters[index])

In [ ]:
print("Fourth Example")
for item in [1,2,3,4,5]:
    print ('item',item)
print('looping over item complete')

In [ ]:
count = 0
while (count<3):
    print ('the count is:',count)
    count = count+1

In [ ]:
count = 0
while (count<3):
    print (count,"is less than 5")
    count=count+1
else:
    print(count,"is not less than 5")

### 7. Logic

In [ ]:
var = -1
if var < 0:
    print (var)
    print ("the value of of var negative")

In [ ]:
if (var == -1) : print ("the value var is negative")

In [ ]:
var = 1

if var < 0:
    print("the value of var is nagative")
    print(var)
else:
    print("the value of var is positive")
    print(var)

In [ ]:
score = 100
if score >= 99:
    print('A')
elif score >= 75:
    print('B')
elif score >=60:
    print('C')
elif score >= 35:
    print('D')
else:
    print('F')

### 8. Function

#### built in function

In [39]:
max(obj)

7

In [40]:
min(obj)

2

In [42]:
len(obj)

6

#### user defined function

In [77]:
def penjumlahan1(x,y):
    z = x+y
    return z

In [81]:
penjumlahan1(3,4)

7

In [47]:
x

3

In [48]:
y

5

In [49]:
def pengurangan(x,y):
    z = x - y
    return z

In [54]:
pengurangan(10,9)

1

In [56]:
def new_function(x,y,f):
    z = x - y + f
    return z

In [57]:
new_function(10,2,1)

9